.btn-type-primary {
  color: #fff;
  border-color: #1890ff;
  background: #1890ff;
}
.btn-type-dashed {
  color: #000000d9;
  border-color: #d9d9d9;
  background: #fff;
  border-style: dashed;
}
.btn-type-link {
  color: #1890ff;
  border-color: transparent;
  background: 0 0;
  box-shadow: none;
}
.btn-type-text {
  color: #000000d9;
  border-color: transparent;
  background: 0 0;
  box-shadow: none;
}

.btn-size-large {
  font-size: x-large;
}
.btn-size-middle {
  font-size: medium;
}
.btn-size-small {
  font-size: x-small;
}